@font-face {
  font-family: Space-Mono;
  font-display: swap;
  src: url('SpaceMono-Regular.ttf') format('ttf');
}

@font-face {
  font-family: Space-Bold;
  font-display: swap;
  src: url('SpaceMono-Bold.ttf') format('ttf');
}

@font-face {
  font-family: Space-BoldItalic;
  font-display: swap;
  src: url('SpaceMono-BoldItalic.ttf') format('ttf');
}

@font-face {
  font-family: Space-Italic;
  font-display: swap;
  src: url('SpaceMono-Italic.ttf') format('ttf');
}
